//
// Name:            Base
//
// Description:     Contains all base styles, including basic resets
//
// ========================================================================
// Component
// ========================================================================

html {
    font-size: $base-font-size + px;
    line-height: rem(30);
    @include font-azeret-regular;
    -webkit-font-smoothing: antialiased;
}

body {
    background: $background;
    color: $brand-primary;
    overflow-x: hidden;
}

a {
    // @include transition(.6s);
    color: $brand-primary;
    &:hover,
    &:focus {
    }
}

video::-webkit-media-controls {
    display: none !important;
}

// Heading styles
h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-azeret-bold;
}

h1 {
    @include font(30, 0, 35);
}
h2 {
    @include font(20, 0, 25);
}

.subtitle {
    @include font-azeret-ital-light;
    @include font(16, 0, 22);
}

.wrapper {
    padding: 0 rem(25);
}

.btn {
    background: #404040;
    color: white;
    padding: rem(10) rem(15);
    margin-top: rem(30);
    display: inline-block;
    transition: background 0.15s ease-in-out;
    &:hover {
        text-decoration: underline;
        color: white;
        background: black;
    }
}
