//
// Name:            Post Grid
//
// Description:     Contains all post grid styles
//
// ========================================================================
// Component: Post Grid
// ========================================================================

.post-grid {
    .post-preview {
        background: white;
        padding: rem(20);
        border-radius: rem(10);
        margin-top: rem(40);
        &:first-of-type {
            margin-top: rem(25);
        }
    }
}
