//
// Name:            Fonts
//
// Description:     Contains all fonts
//
// ========================================================================
// Component: Fonts
// ========================================================================
@font-face {
    font-family: "AzeretMono-Bold";
    src: url("../../fonts/AzeretMono-Bold.woff2") format("woff2"),
        url("../../fonts/AzeretMono-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "AzeretMono-LightItalic";
    src: url("../../fonts/AzeretMono-LightItalic.woff2") format("woff2"),
        url("../../fonts/AzeretMono-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "AzeretMono-Regular";
    src: url("../../fonts/AzeretMono-Regular.woff2") format("woff2"),
        url("../../fonts/AzeretMono-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// font mixins

@mixin font-azeret-bold {
    font-family: "AzeretMono-Bold", sans-serif;
    font-weight: 700;
}

@mixin font-azeret-regular {
    font-family: "AzeretMono-Regular", sans-serif;
    font-weight: 400;
}

@mixin font-azeret-ital-light {
    font-family: "AzeretMono-LightItalic", sans-serif;
    font-weight: 300;
}
