//
// Name:            Footer
//
// Description:     Contains all footer styles
//
// ========================================================================
// Component: Footer
// =========================================================================

.footer {
	position: relative;
	width: 100%;
	padding: 20px 0;
	background-color: rgba(white, 0.84);
	font-size: 13px;
	line-height: 16px;
	overflow: hidden;
	a {
		color: $color-black;
	}
	.copyright {
		display: flex;
		align-items: center;
	}
	.copyright {
		justify-content: flex-start;
		.logo {
			display: block;
			margin-right: 15px;
			width: 157px;
			height: 70px;
			background-image: url('/images/logo.svg');
			background-size: 100%;
			background-repeat: no-repeat;
			overflow: hidden;
			text-indent: -300px;
		}
		p {
			margin-top: 0;
		}
	}
	.date-location {
		text-align: right;
		font-size: 14px;
		font-weight: bold;
		span {
			color: $teal;
		}
	}
}

@media only screen and (max-width: 768px) and (min-width: 1px) {
	.footer .nav {
		padding: 40px 0;
		ul {
			width: 100%;
			text-align: center;
		}
	}
}
