//
// Name:            Header
//
// Description:     Contains all header styles
//
// ========================================================================
// Component: Header
// ========================================================================
header.header {
    .header-wrapper {
        padding: rem(20) rem(25);
    }
}
