#hero {
	width:100%;
	height:600px;
	position:relative;
	background:$brand-primary;
  	color: $color-white;
	background-repeat: no-repeat;
	background-size: cover;

	p {
		font-size: 20px;
		line-height: 30px;
	}

	.wrapper {
		position:relative;
		z-index:999;
	}
	.wrapper, .row {
		height: 100%;
	}
	.banner {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:1;
		background-size: cover;
		background-position:50%;
		background-repeat:no-repeat;
	}
	.banner-overlay {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:2;
		background-color: rgba(0,0,0,.25);

		&:before {
			content: "";
			height: 360px;
			width: 100%;
			background-image: linear-gradient(to top, rgba(black, 0) 0%, black);
			z-index: 9999;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.62;
			transition: 0.3s;
		}
	}

	@media only screen and (max-width: $breakpoint-lg) {
		height: 525px;
	}

	@media only screen and (max-width: $breakpoint-sm) {
		height: 484px;

		.banner-overlay {
			&:before {
				height: 234px;
			}
		}

		p {
			font-size: 16px;
			line-height: 24px;
		}
	}
}
